@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
:root {
  --font-color: white;
  --card-color: #1B1717;
  --secundary-color: #3b3333;
  --primary-color-darker:#CE1212;
  --upBottonColor :rgb(27, 118, 255);
}

* {
  box-sizing: border-box;
  outline: 0;
  color: var(--font-color);
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Comfortaa', cursive;
  font: weight 100px;;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container{
  max-width: 640px;
  margin: 50px auto;
  background: var(--card-color);
  padding: 20px;
  border-radius: 10px;
}
input{
  color: #000000;
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(80, 80, 80);
   
}
input:focus{
  border-color: black;
}
button{
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--upBottonColor);
}
ul{
  margin: 0;
  padding: 0;
}
ul > li{
  display: flex;
  border-radius: 8px;
  justify-content: space-between;
  padding: 5px 30px;
}
ul > li:hover {
  background-color: var(--secundary-color);
}
.apagar{
  background-color: var(--primary-color-darker);
}