@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgba(69, 255, 88, 0.622);
  --primary-color-darker: rgb(171, 0, 0);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}
input{
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(80, 80, 80);
   
}
input:focus{
  border-color: black;
}
button{
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: green;
}
ul > li{
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.apagar{
  background-color: red;
}